:root > * {
    --md-primary-fg-color: #45546b;
    --md-footer-bg-color: #45546b;
    --md-footer-bg-color--dark: #45546b;
    --md-typeset-a-color: #0abaf0;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color: #0abaf0 !important;
}

footer a:hover {
    color: white !important;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin-right: 20px;
    }
}

.footer-license {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

.footer-textstyle {
    text-align: center;
    font-size: .6rem;
    line-height: 1.6;
    color: var(--md-footer-fg-color--light);
}

.md-typeset thead th {
    background-color: #ecf3ff; /*rgba(69, 84, 107, 0.5);*/
    color: black;
    font-size: 0.74rem;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-style: normal;
  }
